<%- include('partials/headerHelperCountry') -%>
    <form action="/country" method="post">
      <label>Enter country's name: </label>
      <input type="text" name="cName" placeholder="Country Name">
      <button class="btn btn-primary" type="submit" name="button">Submit</button>
    </form>
<%- include('partials/footer') -%>
