<%- include('partials/headerCountry') -%>
    <form action="/action" method="post">
      <label>Enter country's name: </label>
      <input type="text" name="cName" placeholder="Country Name">
      <button type="submit" name="button">Submit</button>
    </form>
<%- include('partials/footer') -%>
